/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

@font-face{
 font-family: "Baskerville";
 src: url("/fonts/Baskerville.ttc") format("ttc");
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

h1{
  font-family: "Baskerville", serif;
  font-size: 5em;
  font-weight: 200;
}

h1, h2{
  color: #9BACA6;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  border: 3px solid #9BACA6;
}

hr{
  color: #9BACA6;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

.footer{
  float: right;
}

.small{
  font-size: .75em;
  text-align: right;
}

/* Write all remaining styles here */
